* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(59, 59, 59);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}

header {
    background-color: rgb(148, 11, 11);
    position: fixed;
    padding: 20px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titulo {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header ul li {
    list-style: none;
    margin: 0px 10px;
    align-content: center;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}



.titular {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 24px;
    text-align: left;
    margin: 0px 20px;
}



.content {
    
    padding: 20px;
    background-color: white;
    margin-top: 65px;
    height: 86vh;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1%;
    align-items: center;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.tarjeta {
    background-color: rgba(216, 216, 216, 0.288);
    padding: 10px 0px 0px 0px;
    height: 290px;
    width: 100%;
    display:flex;
    border-radius: 1%;
    flex-direction: column;
    /* padding: 20px; */
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
}

.tarjeta .parrafos {
    /* margin-left: 20px; */
    padding: 0px 20px;
}

.tarjeta .periodico {
    
    display: flex;
    width: 100%;
    padding: 0px 20px;
    height: 100%;
    align-items: end;
    margin-bottom: 0px;
    /* margin-left: 20px; */
    /* align-self: left; */
    
}

 
.div1 {
    grid-column: span 2;
    
}

.div1 h1 {
    width: 440px;
    height: 40%;
    
}
.div4 {
    padding-left: 20px;
}

.div4 p {
    margin-left: 30px;
}

.div4 h1 {
    width: 300px;
    height: 40%;
    margin-left: 50px;
}

.div4 .periodico {
    margin-left: 60px;
} 

img {
    width: 100%;
    border: 1px solid;
    border-radius: 2%;
    margin-top: 10px;
    
    
}

.imagen-1 {
    width: 90%;
    height: 70%;
     
}

.imagen-2 {
    width: 85%;
    height: 550px;
}

.imagen-3 {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
}

.imagen-4 {
    width: 70%;
    height: 44%;
}

.imagen-5 {
    height: 230px;
    width: 90%;
}

.imagen-6 {
    height: 240px;
    width: 80%;
}

.imagen-7 {
    width: 85%;
    height: 1150px;
}

